.twoFactorContainer {
  margin: 5rem;
  .twoFactorForm {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    border-radius: 2rem;
    padding: 3rem;
    background: var(--elevated);
    margin-top: 3rem;
  }
}
