.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actionGroup {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.primaryAction,
.secondaryAction {
  display: inline-flex;
  flex-direction: row;
  margin: 0.75rem;
}

.tertiaryAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0.75rem 0;
  width: 100%;
  div {
    margin-top: 0.5rem;
  }
}
