.field {
  margin-top: 4px;
  margin-bottom: 8px;
  .fieldInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--light);
    padding: 0.75rem;
    border-radius: 8px;
    input {
      border: none;
      outline: none;
      background: transparent;
      color: var(--white);
      caret-color: var(--white);
      font-size: 12px;
      width: 100%;

      &::placeholder {
        opacity: 0.75;
        font-size: 12px;
        font-weight: 500;
      }
    }
    input[type='password'] {
      width: 90%;
    }
    svg {
      font-size: 16px;
      cursor: pointer;
    }
  }
  .fieldValidation {
    min-height: 15px;
    margin: 4px 0;
    p {
      font-weight: normal;
      color: var(--error);
      margin: 0;
    }
  }
}

.primaryActions {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  input[type='submit'] {
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 0.75rem 1.75rem;
    border-radius: 8px;
    color: var(--white);
    background: var(--blue-violet);
    box-shadow: 0px 24px 48px rgba(99, 60, 247, 0.15);
  }
}

.secondaryActions {
  display: flex;
  justify-content: space-between;
  a,
  button {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: var(--blue);
  }
}
