.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actionGroup {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
}

.primaryAction,
.secondaryAction {
  display: inline-flex;
  flex-direction: row;
  margin: 0.75rem;
}

.tertiaryAction {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  width: 100%;
}
