.switchLabel {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switchSpan {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .switchSpan:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: var(--white);
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .switchSpan {
    background-color: var(--blue);
  }
  
  input:focus + .switchSpan {
    box-shadow: 0 0 1px var(--blue);
  }
  
  input:checked + .switchSpan:before {
    transform: translateX(15px);
  }
}
