@import './colors.scss';
@import './theme/dark.scss';
@import './theme/light.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Montserrat';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--primary);
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

:root {
  --text-sm: 0.75rem;
  --text-md: 1.0625rem;
  --text-lg: 1.375rem;
  --text-btn-tertiary: 0.8125rem;
  --icon-notification: 1.25rem;
  --icon-input-field: 1rem;
}

//scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-violet);
}

//input validation
input:-webkit-autofill {
  box-shadow: 0 0 0 20px var(--light) inset;
  -webkit-box-shadow: 0 0 0 20px var(--light) inset;
  -webkit-text-fill-color: var(--white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

.input-field--error {
  box-shadow: 0 0 0 20px #392f2e inset;
}

.input-field--error input:-webkit-autofill {
  box-shadow: 0 0 0 20px #392f2e inset;
  -webkit-box-shadow: 0 0 0 20px #392f2e inset;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}
