@import './colors.scss';
@import './theme/dark.scss';
@import './theme/light.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Montserrat';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--primary);
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

:root {
  --text-md: 1.025rem;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-violet);
  border-radius: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

.input-field--error {
  // box-shadow: 0px 0px 1px 1px var(--error) inset;
  box-shadow: 0px 0px 20px 20px #f443360f inset;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}
