.alert {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem;
  left: calc((100% / 2) - 250px);
  max-height: 80px;
  width: 500px;
  z-index: 99;

  svg {
    margin: 1rem;
    font-size: var(--icon-alert);
  }
}

.error {
  color: var(--text-notif-error);
  background: var(--bg-notif-error);
}
.warning {
  color: var(--text-notif-warning);
  background: var(--bg-notif-warning);
}
.success {
  color: var(--text-notif-success);
  background: var(--bg-notif-success);
}
