header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--white);
  padding: 0 32px;
  width: calc(100% - 64px);
  height: 72px;

  .appTitle {
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: var(--white);
      font-size: 22px;
      font-weight: 500;
    }
    img {
      margin-right: 4px;
    }
  }

  .profile {
    svg {
      cursor: pointer;
      margin: 0 8px;
    }
  }
}
