.tabs {
  position: relative;
  width: fit-content;
  border: 4px solid var(--elevated);
  background: var(--elevated);

  button {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--white);
    font-size: var(--text-md);
    font-weight: 500;
    // transition-duration: 0.5s;
    z-index: 1;
  }
}

.selector {
  display: inline-block;
  position: absolute;
  left: 0;
  transition-duration: 0.5s;
  background: var(--blue);
  transition-timing-function: cubic-bezier(1, 0.2, 0.2, 1);
  z-index: 1;
}

.contained {
  border-radius: 50px;
  button {
    padding: 8px 16px;
  }
  .selector {
    height: 100%;
    border-radius: 50px;
  }
}

.outlined {
  border-radius: 0;
  button {
    padding: 0;
    margin: 1rem;
  }
  .selector {
    height: 4px;
    bottom: 8px;
  }
}
