.sidebarContainer {
  .overlay,
  .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 99;
  }

  .overlay {
    display: none;
    background: var(--dark);
    left: 0;
    opacity: 0.7;
    width: 100vw;
  }

  .sidebar {
    box-sizing: border-box;
    background: var(--black);
    color: var(--white);
    padding: 1.25rem;
    right: -425px;
    width: 425px;
    transition: all 0.5s;

    h2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        cursor: pointer;
      }
    }
  }
}

.sidebarContainer--displayed {
  .overlay {
    display: inherit;
  }
  .sidebar {
    right: 0;
  }
}
