/* loader */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  .spinner {
    display: inline-block;
    border: 5px solid var(--blue);
    border-top: 5px solid var(--light);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tableWrapper {
  overflow: scroll;
}

.membraneTable {
  color: var(--white);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  /* basic table style */
  thead {
    th {
      padding: 10px 10px 10px 0;
      font-size: 14px;
      font-weight: 700;
    }
    th:first-child {
      padding-left: 20px;
    }
    th:last-child {
      padding-right: 20px;
    }
  }
  tbody {
    tr {
      height: 1px;
    }
    td {
      font-size: 16px;
      height: inherit;
      /* firefox requires 100% for height */
      @supports (-moz-appearance:none) {
        height: 100%;
      }
      padding: 0;
    }
  }

  .headerCol {
    display: flex;
    align-items: center;
    &.sortable {
      cursor: pointer
    }

    /* sort arrows */
    .colSort {
      position: relative;
      height: 18px;
      width: 18px;
      .sortBg,
      .sortUp,
      .sortDown {
        left: 0;
        position: absolute;
        margin: 2px 0 0 10px;
      }
      .sortBg {
        opacity: 0.5;
      }
      .sortUp,
      .sortDown {
        display: none;
      }
    }
    .colSort.asc {
      .sortUp {
        display: block;
      }
    }
    .colSort.desc {
      .sortDown {
        display: block;
      }
    }
  }

  .tableCell {
    align-items: center;
    background: var(--dark);
    display: flex;
    padding: 5px 10px 5px 0;
    margin-top: 5px;
    height: calc(100% - 15px);
    min-height: 40px;
    white-space: pre;
  }
  td:first-child {
    .tableCell {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-left: 20px;
    }
  }
  td:last-child {
    .tableCell {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-right: 20px;
    }
  }

  /* details opened */
  .detailsOpen .tableCell{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .rowDetail {
    .tableCell {
      height: calc(100% - 10px);
      margin-top: 0;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }

  /* on over styles */
  .clickableRow {
    cursor: pointer;
    &:hover .tableCell{
      background: var(--blue);
    }
  }

  /* detail arrow col */
  .rowDetailCol {
    svg {
      transition: transform 0.5s;
    }
    &.opened {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}

/* safari support */
/* padding is not necessary for height calculation */
.safariStyle {
  .membraneTable {
    .tableCell {
      height: calc(100% - 5px);
    }
    .rowDetail .tableCell {
      height: 100%;
    }
  }
}
