.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/static/wave.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  overflow-y: auto;
  color: var(--white);

  .appTitle {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--text-lg);
    margin: 5% 0;
    img {
      margin-right: 4px;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--dark);
    border-radius: 2rem;
    padding: 1.025rem;
    margin: 5% 1.025rem;
    div {
      margin: 1.025rem 2rem;
      h5 {
        margin: 0;
      }
      a {
        text-decoration: none;
        font-size: var(--text-sm);
        color: var(--blue);
      }
    }
  }
}
