.splashContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .image {
    width: 15rem;
    margin: auto;
    animation: zoom 2s infinite alternate;
  }

  .themeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-color);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
